<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/bootstrap/v5.2.2/css/bootstrap.css">
  <script src="/assets/bootstrap/v5.2.2/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/assets/sweetalert/v2/sweetalert2.min.css">
  <link rel="stylesheet" href="/assets/font-awesome/v5.15.4/css/all.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</th:block>