<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create blog</title>
</head>
<body>
<h1>Create blog</h1>
<h5>
  <a th:href="@{/blog}">
    blog List
  </a>
</h5>

<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>

<form th:action="@{/create}" th:object="${blog}" method="post">
  <table>
    <tr>
      <td>Title:</td>
      <td><input type="text" th:field="*{title}"/></td>
    </tr>
    <tr>
      <td>Content:</td>
      <td>
                <textarea th:field="*{content}"  cols="70" rows="50">
                </textarea>
      </td>
    </tr>
    <tr>
      <td>Category:</td>
      <td>
        <select th:field="*{category}">
          <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create blog"></td>
    </tr>
  </table>
</form>
</body>
</html>