<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>

    <th:block th:replace="/layout/head :: head" />
</head>
<body>
<div class="container">
    <header>
        <div class="row">
            <div class="col-sm-5">
                <h1>Create customer</h1>
            </div>
            <div class="col-sm-7">
                <a href="/customers" class="btn btn-outline-light">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <span>List of Customers</span>
                </a>
                <a href="/transfers" class="btn btn-outline-light"><i class="fa fa-history" aria-hidden="true"></i> <span>Transfer money Information</span></a>
            </div>
        </div>
    </header>

    <div class="content">
        <form id="frmCreateCustomer" method="post" th:object="${customer}">
            <fieldset class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Full name</label>
                    <input type="text" class="form-control" th:field="*{fullName}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" th:field="*{email}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Phone</label>
                    <input type="tel" class="form-control" th:field="*{phone}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" th:field="*{address}">
                </div>
                <div class="col-md-12">
                    <button type="submit" id="btnCreateCustomer" class="btn btn-outline-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Create customer
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    <footer>
        <th:block th:if="${error == true}">
            <div id="message-alert">
                <div class="alert-danger">
                    <label class="error">Thêm mới không thành công</label>
                </div>
            </div>
        </th:block>

        <th:block th:if="${errors} == true">
            <div class="alert-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('customer.*')}" th:text="${err}"></li>
                </ul>
            </div>
        </th:block>
    </footer>
</div>

</body>
</html>