<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View category</title>
</head>
<body>
<h1>View category: <!--/*@thymesVar id="category" type="java"*/-->
  <span th:text="${category.category}"></span></h1>
<a href="/categories">category list</a>
<table border="1">
  <tr>
    <th>Title </th>
    <th>Content</th>
  </tr>
  <th:block th:each="blog : ${blogs}">
    <tr>
      <td th:text="${blog.title}"></td>
      <td th:text="${blog.content}"></td>
    </tr>
  </th:block>
</table>
</body>
</html>