<!DOCTYPE html>
<html lang="en">

<head>

    <title>LOGIN</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/login/login-style.css">

</head>

<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form >
            <h1>Tạo tài khoản</h1>
            <div class="social-container">
                <a style="color: blue;" href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a style="color: rgb(118, 222, 43);" href="#" class="social"><i
                        class="fab fa-google-plus-g"></i></a>
                <a style="color: rgb(219, 187, 29);" href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>

            <label for="role">Role group</label>
            <select name="role" id="role" class="form-select">
                <option value="1">ADMIN</option>
                <option value="3">USER</option>
            </select>

            <input type="text" placeholder="Full Name" id="fullName" required autocomplete="off"/>
            <input type="text" placeholder="User name" id="usernameReg"/>
            <input type="password" placeholder="Password" id="passwordReg"/>
            <button id="btnSignUp">Register</button>
        </form>
    </div>




    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Đăng nhập</h1>
            <div class="social-container">
                <a style="color: blue;" href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a style="color: rgb(118, 222, 43);" href="#" class="social"><i
                        class="fab fa-google-plus-g"></i></a>
                <a style="color: rgb(219, 187, 29);" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>hoặc lấy tài khoản của bạn</span>
            <input type="email" placeholder="User name" id="username"/>
            <input type="password" placeholder="Password" id="password"/>
            <a href="#">Forgot your password?</a>
            <button id="btnLogin" type="button">Đăng nhập</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Chào mừng quý khách !</h1>
                <p>Đăng nhập thông tin của quý khách</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Kính chào quý khách !</h1>
                <p>Nhập thông tin của quý khách và bắt đầu sử dụng dịch vụ của chúng tôi!</p>
                <button class="ghost" id="signUp">Đăng ký</button>
            </div>
        </div>
    </div>
</div>
<!-- <footer>
    <p>
        Được tạo <i class="fa fa-heart"></i> từ
        <a target="_blank" href="https://florin-pop.com">Trần Hải Bình</a>
        - Liên hệ
        <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">tại
            đây</a>.
    </p>
</footer> -->
<script src="/assets/js/app.js"></script>
<th:block th:replace="layout/script :: script"/>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });

    let btnLogin = $('#btnLogin');
    btnLogin.on('click', () => {

        let username = $('#username').val();
        let password = $('#password').val();

        let user = {
            username: username,
            password: password
        }

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "POST",
            "url": "http://localhost:8080/api/auth/login",
            "data": JSON.stringify(user)
        })
            .done((data) => {

                App.IziToast.showSuccessAlertLeft("Đăng nhập thành công!");
                window.location.href = "/customers";
            })
            .fail((jqXHR) => {
                // App.SweetAlert.showErrorAlert(jqXHR.responseJSON.message);
                App.IziToast.showErrorAlertLeft("Đăng nhập thất bại!");


            })
    })

    let btnSignUp = $('#btnSignUp')
    btnSignUp.on('click', () => {
        let fullName = $('#fullName').val();
        let username = $('#usernameReg').val();
        let password = $('#passwordReg').val();
        let roleId = $('#role').val();
        let roleCode = $("#role :selected").text()

        let user = {
            fullName: fullName,
            username: username,
            password: password,
            role: {
                id: roleId,
                code: roleCode
            }
        }

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "POST",
            "url": "http://localhost:8080/api/auth/register",
            "data": JSON.stringify(user)
        })
            .done((data) => {
                $('#username').val($('#usernameReg').val());
                $('#password').val($('#passwordReg').val());
                App.IziToast.showSuccessAlertLeft("Đăng kí thành công!");
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, (key, item) => {
                        // App.SweetAlert.showErrorAlert(item);
                        App.IziToast.showErrorAlertLeft("Đăng kí thất bại!");
                    })
                }

            })
    })

</script>

</script>
</body>

</html>